* {
  box-sizing: border-box;
  font-family: Arial;
}

#oidCaption {
  display: none;
  /* Hide the class 'oidCaption' by default  - the html in figcapt will be used in the popup*/
}

.page_title {
  font-size: 18pt;
  padding-bottom: 0px;
  text-align: center;
  width: 100%;
  display: block;
  /* float:left; */
}

/* figure does not use body css */
body {
  margin: 0;
  font-family: Arial;
  background-color: #36393E;
  color: white;
  min-width: 600px
}

figure {
  margin: 0;
  display: flex;
  background-color: #36393E;
  color: white;
}

a:link {
  color: #e6f2ff;
}

a:visited {
  color: #e6f2ff;
}

a:hover {
  color: white;
}

.column {
  float: left;
  padding: 4px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

/* The actual popup */
.popuptext {
  font-size: 12pt;
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  margin-left: -80px;
}

/* Popup arrow */
.popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popuptext.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}